.footer-legales{
  font-size: 0.8em;
  a{
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
}
.datos{
  margin-top: 10px;
  .block-title{
    font-size: 1em;
    text-transform: uppercase;
    color: black;
  }
  p{
    margin-bottom: 0px;
  }
}