
@font-face {
  font-family: 'Louis-Regular';
  src: url('Louis-Regular.eot?#iefix') format('embedded-opentype'),  url('Louis-Regular.otf')  format('opentype'),
	     url('Louis-Regular.woff') format('woff'), url('Louis-Regular.ttf')  format('truetype'), url('Louis-Regular.svg#Louis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
