.block-title {
  font-size: 1.4em;
}

.block{
  .views-field-field-image{
    border-top: 6px solid $secondary-color;
    margin-bottom: 12px;
  }
  .views-field-title{
    font-weight: bold;
    margin-bottom: 6px;
  }
}
p {
  font-size: 0.9em;
}
.container-help{
  background-color: #e3e3e3;
}